.title,
th.title{
    padding: 20px !important;
    font-size: 20px !important;
    height: 30px !important;
    background-color: #467145;
}

.sub-title,
.sub-title td,
.sub-title th{
    background-color: #5C945A;
}

th{
    background-color: #467145;
    color: #ffffff;
    border: 1px solid #7c7c7c;
    padding: 2px 10px;
    text-align: center;
    font-weight: lighter;
    vertical-align: middle;
}

tr.line td{
    color: #292929;
    border: 1px solid #7c7c7c;
    padding: 2px 10px;
}

tr.odd th,
tr.odd td{
    background-color: #d7e0d7;
}

tr.even th,
tr.even td {
    background-color: #edf2ed;
}

.center{
text-align: center;
}

.left{
text-align: left;
}

.right{
text-align: right;
}

tr td.degrade-zebra-0{background-color: #c4d6c2; !important;}
tr td.degrade-zebra-1{background-color: #bed1bc; !important;}
tr td.degrade-zebra-2{background-color: #b9ccb7; !important;}
tr td.degrade-zebra-3{background-color: #b5c9b3; !important;}
tr td.degrade-zebra-4{background-color: #b1c9af; !important;}
tr td.degrade-zebra-5{background-color: #a8c4a6; !important;}
tr td.degrade-zebra-6{background-color: #9cbc9a; !important;}
