th.title{
    padding: 20px !important;
    font-size: 20px !important;
    height: 30px !important;
    background-color: #333333;
    color: #FFF;
}

td.sub-title,
th.sub-title{
    background: #d3d3d3;
    color: #000;
}

td.sub-title-2,
th.sub-title-2{
    background: #ededed;
    color: #000;
}

th{
    background-color: #b2b2b2;
    color: #000;
    border: 1px solid #CCCCCC;
    padding: 2px 10px;
    text-align: center;
    font-weight: lighter;
    vertical-align: middle;
}

th.fpo{
    background-color: #DEB887;
}

th.cies{
    background-color: #6CA6CD;
}

tr.line td{
    color: #000;
    border: 1px solid #CCCCCC;
    padding: 2px 10px;
}

tr.odd th,
tr.odd td{
    background-color: #FFFFFF;
}

tr.even th,
tr.even td{
    background-color: #ededed;
}

tr.odd th.fpo,
tr.odd td.fpo{
    background-color: #F5F5DC;
}

tr.even th.fpo,
tr.even td.fpo{
    background-color: #F5DEB3;
}

tr.odd th.cies,
tr.odd td.cies{
    background-color: #A4D3EE;
}

tr.even th.cies,
tr.even td.cies{
    background-color: #8DB6CD;
}

tr.odd .no-bg,
tr.odd .no-bg,
tr.even .no-bg,
tr.even .no-bg{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}


tr.odd td.total{
    background-color: #93bdc9;
}

tr.even td.total{
    background-color: #64aec9;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

